<body>
    <div class="container-fluid px-4">
                            <h1 class="mt-4">Dashboard</h1>
                            
    
                            <!-- Cards -->
    
                            <div class="row" id="cardContainer1">
                                <!-- ajaxa here -->
                            </div>

                            <figure class="highcharts-figure">
                                <div id="highchartsContainer"></div>
                                <p class="highcharts-description">
                                    This chart provides a clear visualization of 
                                    your weekly spending patterns across these three categories, 
                                    highlighting potential trends and areas of higher or lower expenditure.
                                 </p>
                            </figure>
                            
                            
    </div>

        </body>        