<div class="sb-sidenav-menu" >
    <div class="nav">
        <a class="nav-link" href="#employee-dashboard">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Dashboard
        </a>
        <a class="nav-link" href="#employee-items-list">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Items List 
        </a>
        <a class="nav-link" href="#employee-expense-tracking">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Expense Tracking
        </a>
        <a class="nav-link" href="#employee-hours-tracking">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Hours Tracking
        </a>
    </div>
</div>
<div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    Employee
</div>
