             <body> 
               <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">Profile Details</div>
                        <div class="card-body">
                            <form id="profile-form" method="post">
                                <div class="mb-3">
                                    <label for="inputFirstName" class="form-label">First name:</label>
                                    <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="Enter your first name" />
                                </div>
                            
                                <div class="mb-3">
                                    <label for="inputLastName" class="form-label">Last name:</label>
                                    <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="Enter your last name"  />
                                </div>
                            
                                <div class="mb-3">
                                    <label for="inputOrgName" class="form-label">Office:</label>
                                    <input type="text" class="form-control" id="inputOrgName" name="inputOrgName" placeholder="Enter your office number" />
                                </div>
                            
                                <div class="mb-3">
                                    <label for="inputLocation" class="form-label">Location:</label>
                                    <input type="text" class="form-control" id="inputLocation" name="inputLocation" placeholder="Enter your location"  />
                                </div>
                            
                                <div class="mb-3">
                                    <label for="inputEmailAddress" class="form-label">Email address:</label>
                                    <input type="email" class="form-control" id="inputEmailAddress" name="inputEmailAddress" placeholder="Enter your email address"  />
                                </div>
                            
                                <div class="mb-3">
                                    <label for="inputPhone" class="form-label">Phone number:</label>
                                    <input type="text" class="form-control" id="inputPhone" name="inputPhone" placeholder="Enter your phone number" />
                                </div>
                            
                                <div class="mb-3">
                                    <label for="inputBirthday" class="form-label">Birthday:</label>
                                    <input type="date" class="form-control" id="inputBirthday" name="inputBirthday" placeholder="Enter your birthday" />
                                </div>
                            
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./assets/js/profile.js"></script>

    </body> 